.table-div {
    background-color: #46aaba;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.task {
    border-top: 1px solid #1A677F;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

.task:hover {
    background-color: #1A677F;
}

.num-col {
  width: 5%;
}

.button-col {
  width: 20%;
}

.true {
  background-color: #00d178;
}

.true:hover {
  background-color: #00b77e;
}
.display-none {
    display: none;
}

.date, .description {
 color: #d9d9d9;
 font-size: 17px;
}

.deleteButton {
    border-radius: 5px;
    border: 2px solid #f44336;
    background-color: #f44336;
    color: white;
    transition: 0.3s;
}

.deleteButton:hover {
    border: 2px solid #f44336;
    background-color: white;
    color: #f44336;
}

.completeButtonfalse {
    border: 2px solid #00b77e;
    border-radius: 5px;
    background-color: #00b77e;
    color: white;
    transition: 0.3s;
}

.completeButtonfalse:hover {
    border: 2px solid #00b77e;
    border-radius: 5px;
    background-color: white;
    color: #00b77e;
}

.completeButtontrue {
  display: none;
}

.desc-input {
    text-align: center;
    width: 80%;
    padding: 5px;
    margin: 0px 0 0px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 25px;
}

#desc-input-button {
    border-radius: 20px;
    border: 2px solid #46aaba;
    background-color: #46aaba;
    color: white;
    transition: 0.3s;
}
